.App {
  text-align: center;
}

.header {
  height: 100vh;
  width: 100vw;
  background-color: rgb(220, 239, 255);
  padding: 0;
}

.title {
  padding-top: 30vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}